
# if SHIELD_DANCE_LEFT

#config ZMK_KEYBOARD_NAME
#    default "dance!"

# config ZMK_SPLIT_ROLE_CENTRAL
#   default y

# endif

# if SHIELD_DANCE_LEFT || SHIELD_DANCE_RIGHT

# config ZMK_SPLIT
#    default y

# endif


# Dongle configuration
if SHIELD_DANCE_DONGLE
config ZMK_KEYBOARD_NAME
    default "Dance!"
config ZMK_SPLIT_ROLE_CENTRAL
    default y
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2
endif

# Left keyboard configuration (ADD THIS)
if SHIELD_DANCE_LEFT
config ZMK_KEYBOARD_NAME
    default "Dance!"
config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif

# Enable split for all shields
if SHIELD_DANCE_DONGLE || SHIELD_DANCE_LEFT || SHIELD_DANCE_RIGHT
config ZMK_SPLIT
    default y
endif
